@import url(common.css);

.button-primary-outline {
	-fx-border-color: -fx-color-primary;
	-fx-text-fill: -fx-color-primary;
	-fx-background-color: transparent;
	-fx-border-width: 2.0px;
	-fx-border-radius: 4.0px;
}

.button-primary-raised {
	-fx-border-color: -fx-color-primary;
	-fx-text-fill: -fx-color-text-icons;
	-fx-background-color: -fx-color-primary;
	-fx-effect: dropshadow(gaussian , -fx-color-primary-text, 10.0, 0.0, 1.0, 2.0);
	-fx-border-width: 2.0px;
	-fx-border-radius: 4.0px;
}


.button-danger-raised {
	-fx-border-color: -fx-color-danger-primary;
	-fx-text-fill: -fx-color-text-icons;
	-fx-background-color: -fx-color-danger-primary;
	-fx-effect: dropshadow(gaussian , -fx-color-primary-text, 10.0, 0.0, 1.0, 2.0);
	-fx-border-width: 2.0px;
	-fx-border-radius: 4.0px;
}

.button-danger-outline {
	-fx-border-color: -fx-color-danger-primary;
	-fx-text-fill: -fx-color-danger-primary;
	-fx-background-color: transparent;
	-fx-border-width: 2.0px;
	-fx-border-radius: 4.0px;
}

.button{
	-fx-padding: 5.0 14.0;	
	-fx-cursor: hand;
}

.button:hover {
	-fx-scale-y: 1.05;
	-fx-scale-x: 1.05;
}

.button:pressed {
	-fx-scale-y: 0.95;
	-fx-scale-x: 0.95;
}
