@import url(common.css);

.movieTile:hover {
	-fx-scale-y: 1.05;
	-fx-scale-x: 1.05;
}

.movieTile:pressed {
	-fx-scale-y: 0.95;
	-fx-scale-x: 0.95;
}

.movieTitle {
	-fx-font-family: Seagoe UI Light;
	-fx-font-size: 20px;
	-fx-font-weight: 500;
	-fx-fill: -fx-color-dark-primary;
}

.movieCategories {
	-fx-font-family: Seagoe UI Light;
	-fx-font-size: 14px;
	-fx-font-weight: 500;
	-fx-fill: -fx-color-secondary-text;
}

.movieScore {
	-fx-font-family: Seagoe UI Light;
	-fx-font-size: 15px;
	-fx-font-weight: 500;
	-fx-fill: -fx-color-dark-primary;
}

.movieDescription {
	-fx-font-family: Seagoe UI Light;
	-fx-font-size: 14px;
	-fx-font-weight: 400;
	-fx-fill: -fx-color-secondary-text;
}